// sidebar
$menuText:#bfcbd9;
$menuActiveText:#bfcbd9;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:rgb(40, 44, 52);
$menuHover:rgb(53, 53, 53);

$subMenuBg:#1f3b27;
$subMenuHover:#12643b;

$sideBarWidth: 220px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
